// @use "reset";
@use "globals";
@use "helpers" as *;
@use "components" as *;
// @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.header-fill {
  font-family: "Inter", sans-serif;

  background-color: #f3ebf9;
  padding-block: rem(16);

  &__container {
    max-width: rem(1640);
    padding: 0 rem(20);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(32);
  }

  &__logo {
    @media (max-width: 1400px) {
      margin-right: auto;
    }
  }

  &__logo-image {
    max-width: fluid(120, 182);
    height: auto;
  }

  &__menu {
    @media (max-width: 1400px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    column-gap: rem(8);
    align-items: center;
    margin-bottom: 0 !important;

    @media (max-width: 1400px) {
      column-gap: rem(8);
    }
  }

  &__item {
    position: relative;
    color: #261b97;

    @include hover {
      color: #dc0061;
    }

    &.menu-item-has-children {
      display: flex;
      align-items: center;
      column-gap: rem(1);
      padding-right: rem(16);
      width: auto !important;
      max-width: auto !important;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%225%22%20viewBox%3D%220%200%208%205%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M7.25%200.75L4%204.25L0.75%200.75%22%20stroke%3D%22%23261B97%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
        flex-shrink: 0;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: rem(8);
        height: rem(5);
        transition: all 0.3s ease;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: rem(20);
        top: 100%;
        left: 0;
        display: none;
      }

      @include hover {
        .header-fill__submenu {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        &::before {
          display: block;
        }
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%225%22%20viewBox%3D%220%200%208%205%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M7.25.75%204%204.25.75.75%22%20stroke%3D%22%23dc0061%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link {
    color: inherit;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1;
    transition: color 0.3s ease;
    padding: rem(8);
  }

  &__submenu {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: max-content !important;
    max-width: auto !important;
    min-width: rem(245);
    top: calc(100% + rem(8));
    left: 0;
    background: #fff;
    padding: rem(24);
    border-radius: rem(6);
    background-color: #fff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    margin-bottom: 0 !important;

    &-item {
      line-height: 1;
    }
    &-link {
      color: #261b97;
      font-size: rem(14);
      font-weight: 400;
      line-height: 1;
      transition: color 0.3s ease;

      @include hover {
        color: #dc0061;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: rem(24);

    @include small {
      display: none;
    }
  }

  &__phone {
    color: #261b97;
    font-size: rem(20);
    line-height: 1;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    column-gap: rem(13);
    font-family: "Roboto", sans-serif;

    @include hover {
      color: #dc0061;
    }

    svg {
      color: inherit;
      width: rem(17);
      height: rem(17);
    }
  }

  &__button {
    color: #fff;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: rem(16) rem(32.5);
    border-radius: rem(50);
    background: linear-gradient(275deg, #3b28ff 0.79%, #b842ff 92.67%);
    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.8;
    }
  }
}

.cust-burger.solid-burger {
  display: none;
  @media (max-width: 1400px) {
    display: block;
  }
}
.header_nav.header_nav_solid {
  pointer-events: none;
  overflow: hidden;
}

body.menu_on {
  .header_nav.header_nav_solid {
    pointer-events: auto;
    overflow: visible;
  }
}
