<header class="header-fill" id="header-solid">
  <div class="header-fill__container">
    <a href="/" class="header-fill__logo">
      <img src="/images/logo.svg" alt="Logo" class="header-fill__logo-image" />
    </a>
    <nav class="header-fill__menu">
      <ul class="header-fill__list">
        <li class="header-fill__item">
          <a href="#" class="header-fill__link">What we do</a>
        </li>
        <li class="header-fill__item">
          <a href="#" class="header-fill__link">Home Care Marketing</a>
        </li>
        <li class="header-fill__item menu-item-has-children">
          <a href="#" class="header-fill__link">Our Work</a>
          <ul class="header-fill__submenu">
            <li class="header-fill__submenu-item">
              <a href="#" class="header-fill__submenu-link">Branding</a>
            </li>
            <li class="header-fill__submenu-item">
              <a href="#" class="header-fill__submenu-link">Videography</a>
            </li>
            <li class="header-fill__submenu-item">
              <a href="#" class="header-fill__submenu-link">Web Design & Development</a>
            </li>
            <li class="header-fill__submenu-item">
              <a href="#" class="header-fill__submenu-link">Reputation Management</a>
            </li>
          </ul>
        </li>
        <li class="header-fill__item">
          <a href="#" class="header-fill__link">Blog</a>
        </li>
        <li class="header-fill__item">
          <a href="#" class="header-fill__link">Media Room</a>
        </li>
        <li class="header-fill__item">
          <a href="#" class="header-fill__link">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="header-fill__actions">
      <a href="#" class="header-fill__phone">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none">
          <path
            d="m16.174 11.416-3.992-1.703a1.33 1.33 0 0 0-1.286.11L8.76 11.246a6.5 6.5 0 0 1-2.997-2.98l1.413-2.161a1.35 1.35 0 0 0 .12-1.286L5.583.826a1.39 1.39 0 0 0-1.42-.818A4.784 4.784 0 0 0 0 4.742C0 11.5 5.5 17 12.258 17a4.784 4.784 0 0 0 4.733-4.163 1.39 1.39 0 0 0-.817-1.421m-5.499-9.424a6.18 6.18 0 0 1 4.333 4.333.68.68 0 0 0 .655.51q.09 0 .179-.025a.67.67 0 0 0 .476-.834A7.49 7.49 0 0 0 11.024.681a.68.68 0 1 0-.348 1.311m-.706 2.63a3.44 3.44 0 0 1 2.409 2.41.67.67 0 0 0 .655.51.6.6 0 0 0 .17-.025.673.673 0 0 0 .486-.835 4.75 4.75 0 0 0-3.372-3.37.68.68 0 1 0-.349 1.31"
            fill="currentColor"
          />
        </svg>
        <span>(215)396-3307</span></a
      >
      <a href="#" class="header-fill__button">REQUEST A QUOTE</a>
    </div>
  </div>
</header>
